# folders
.DS_Store
.vscode
.idea

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.out

# debug files
/debug
/swirl

# node
node_modules
dist
dist-ssr
*.local