html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -120px;
}

.page-push,
.footer {
    height: 120px;
}

.nav-left {
    overflow-x: hidden;
}

.icon.infobox {
    margin-left: 1em;
    /*height: 4rem;*/
    /*width: 4rem;*/
}

.notification.is-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.modal-card-error {
    background-color: #ff3860;
    color: #fff;
    padding: 5px 20px;
}

.is-vertical-marginless {
    margin-top: 0;
    margin-bottom: 0;
}

.is-vertical-paddingless {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-item.is-narrow {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}

.progress.is-narrow:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .is-divider-vertical {
        display: none;
    }
}

.hero.is-mini .hero-body {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

fieldset:not(:last-child) {
    margin-bottom: 0.75rem;
}

.lead {
    width: 100%;
    margin-bottom: 10px !important;
    font-style: italic;
    color: #999;
}

.lead.is-bordered {
    border-bottom: 1px solid #e5e5e5;
}

.lead.is-1 {
    font-size: 3rem;
}

.lead.is-2 {
    font-size: 2.5rem;
}

.lead.is-3 {
    font-size: 2rem;
}

.lead.is-4 {
    font-size: 1.5rem;
}

.lead.is-5 {
    font-size: 1.25rem;
}

.lead.is-6 {
    font-size: 1rem;
}

.lead.is-7 {
    font-size: 0.75rem;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.5rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

@media (min-width: 769px) {
    .is-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .is-horizontal dd {
        margin-left: 180px;
    }
}

.is-vertical-middle {
    vertical-align: middle !important;
}

.has-bg-white-ter {
    background-color: whitesmoke !important;
}

.is-bottom-marginless {
    margin-bottom: 0 !important;
}

.is-bottom-paddingless {
    padding-bottom: 0 !important;
}

.tag:not(body).is-grey {
    background-color: #7a7a7a;
    color: whitesmoke;
}

.card-header-title, .card-header-icon, .card-footer-item {
    padding: 0.5rem 0.75rem;
}

.card-content {
    padding: 0.75rem;
}

.block {
    font-size: 1rem;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.block .block-header {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    line-height: 1.25;
    padding: 0.5em 0.75em;
}

.block .block-body {
    padding: 1em 1.25em;
}

.block .block-body.is-bordered {
    border: 1px solid lightgray;
    border-radius: 0 0 3px 3px;
}

.columns.is-tight {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.columns.is-tight > .column {
    margin: 0;
    padding: 0.25rem !important;
}

.columns.is-tight:not(:last-child) {
    margin-bottom: 1.5rem;
}

.columns.is-tight:last-child {
    margin-bottom: 0;
}

.content pre {
    border-radius: 5px;
}

.tabs-content {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

.tabs-content:not(:last-child) {
    margin-bottom: 1.5rem;
}

.has-no-border {
    border: none !important;
}

.has-no-top-border {
    border-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.code {
    font-family: monospace;
}

textarea.code {
    padding: 0.75em;
}

.CodeMirror {
    font-size: 0.8em;
    border: 1px solid #ddd;
    height: 450px !important;
}